<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
 body {
background-color: #b2beb5
}
</style>
<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                  <center><h2>Sign Up</h2></center>
                    <div class="card-body">
                        <form action="" autocomplete="off" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                              <input type="email" class="form-control" name="email" placeholder="email" required>
                          </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                            <br>
                            <h4 style="color:red;">{{message}}</h4>
                            <br>
                            Already have an account? <a href="login">Sign In</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
